# ytmp3bot/yt_search.py: 1
google_api_python_client == 2.7.0

# ytmp3bot/mp3dldr.py: 2
# ytmp3bot/mp4dldr.py: 2
pytube == 10.8.5

# ytmp3bot/bot.py: 9
# ytmp3bot/mp3dldr.py: 3
# ytmp3bot/mp4dldr.py: 3
# ytmp3bot/yt_search.py: 2
requests == 2.18.4

# ytmp3bot/bot.py: 2
telegram == 0.0.1

# ytmp3bot/bot.py: 6
timeloop == 1.0.2
